body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(14.jpg);
  
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-left: 210px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #518a44;
  color: white;
}

.container {
  padding: 0 16px;
  background-color: rgb(226, 226, 226);
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.a{
  text-align: center;
  text-decoration: none;
  background-color: rgb(39, 212, 255);
  padding: 13px;
  transition: opacity 0.3s;
}
.a:hover{
  opacity: 0.7;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.footeri{
  background-color: gray;
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 10px;
}

.footeri h4{
  text-align: center;
  margin: 0;
  gap: 10px;
  margin-right: 10px;
  
}
.Linkat-social{
 display: flex;
 gap: 10px;
 margin-right: 10px;
  
}
.Linkat-kontaktues{
  display: flex;
  gap: 10px;
}