body{
    margin:0px;
}

p{
    background-color: red;
    color: white;
    height: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;

    

}
.items{
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    
    
}
.logo{
  display: flex;  
  margin-left: 10px;
  width: 60px;
  height: 60px;
}
#listatheader{
    display: flex;
    width: 30%;
    margin-right:30px;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;
    
}
a{
    color: white;
    text-decoration: none;
}

.Kopshti{
   display: flex;
    background-image: url(Kopshti.jpg);
    background-size: contain;
    margin: 10px;
    overflow: hidden;
}
.Welcome{
   position: absolute;
   margin-left: 450px;
   padding-top:  250px;
   color: white;
   font-size: 100px;
   text-align: center;
}
.Text{
    display: flex;
    margin: 120px;
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: large;
}


.footeri{
    background-color: gray;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
}

.footeri h4{
    text-align: center;
    margin: 0;
    gap: 10px;
    margin-right: 10px;
    
}
.Linkat-social{
   display: flex;
   gap: 10px;
   margin-right: 10px;
    
}
.Linkat-kontaktues{
    display: flex;
    gap: 10px;
}
