body{
    margin:0px;
}

p{
    background-color: red;
    color: white;
    height: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%;

    

}
.items{
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    
    
}
.logo{
  display: flex;  
  margin-left: 10px;
  width: 60px;
  height: 60px;
}
#listatheader{
    display: flex;
    width: 20%;
    margin-right:30px;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;
}

.Kopshti{
    background-image: url(Kopshti.jpg);
    background-size: contain;
    margin: 10px;
    overflow: hidden;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.Container img{
    width: 200px;
    height: auto;
}
.Rake{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
    margin-right: 10px;

   
}
.Axe{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;

}
.Spade{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 100px;
}
.Hoe{
    display: flex;
    flex-direction: row;
    width: 200px;
     height: 100px ; 
}
.Pruners{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 129px;
}
.Wheelbarrow{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 2px ;
}
.Hedge-Shears{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 110px;
}
.Garden-Hose{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
}
.Garden-Boots{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
}


.footeri{
    background-color: gray;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
}

.footeri h4{
    text-align: center;
    margin: 0;
    gap: 10px;
    margin-right: 10px;
    
}
.Linkat-social{
   display: flex;
   gap: 10px;
   margin-right: 10px;
    
}
.Linkat-kontaktues{
    display: flex;
    gap: 10px;
}
